:root {
  --primary-color: #1a3e5f;
  --flag-red: #b22234;
  --wire-head-bg: #2b6cb0;
}

html,
body {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
  color: var(--primary-color);
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  /* margin: 0; */
  padding: 0;
}

h1 {
  /* font-size: 40px; */
  line-height: 3rem;
}

p {
  font-size: 18px;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1.4rem;
}

a {
  color: var(--primary-color);
  text-decoration: dashed underline;
  text-underline-offset: 6px;
  transition: 0.15s ease-in;
}

a:hover {
  /* American */
  color: var(--flag-red);
}

ul {
  margin: 0;
}

li {
  text-align: left;
  line-height: 1.5rem;
  font-size: 1rem;
}

footer {
  position: static;
  display: block;
  padding: 1rem;
  background: white;
}

nav {
  padding: 1rem 0;
  text-align: center;
  box-shadow: 0 0.5px 6px rgba(0, 0, 0, 0.15);
  background-color: white;
  width: 100%;
  position: static;
  display: block;
}

.relative {
  position: relative;
}

.header {
  padding: 0 0 1rem;
}

.container-body {
  padding: 1rem;
}

.container {
  max-width: 90ch;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.contact-container {
  max-width: 60ch;
}
.contact-container p {
  margin-bottom: 6px;
}

.fluid-container {
  width: 100%;
  height: 100%;
  margin: 1rem auto 0;
  overflow-x: hidden;
}

.center-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.content {
  height: 44rem;
  width: 100%;
  padding: 2.5rem 0;
  border-radius: 1.5rem;
  background-image: linear-gradient(
    rgba(177, 176, 176, 0.15),
    rgba(177, 176, 176, 0.1)
  );
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.text-center {
  text-align: center;
}

.capitalize {
  text-transform: capitalize;
}

.overflow-hidden {
  overflow: hidden;
}
.background-circle {
  display: none;
  width: 44rem;
  height: 44rem;
  background-color: rgba(12, 162, 64, 0.15);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.plug-container {
  margin-top: 2.5rem;
  position: relative;
  width: 100vw;
}

.wire {
  height: 1.75rem;
  width: 44%;
  background: white;
  border-top: 4px solid var(--primary-color);
  border-bottom: 4px solid var(--primary-color);
  box-shadow: inset 0px -7px 10px -5px rgba(0, 0, 0, 0.5);
  animation: wire-animation-mobile 0.65s linear 2.5s 1 forwards;
}

.wire.left {
  position: absolute;
  left: 0;
}

.wire.right {
  position: absolute;
  right: 0;
}

.wire-head-part {
  background-color: var(--wire-head-bg);
  position: absolute;
  z-index: 2;
}
.wire-head-part.one,
.wire-head-part.two {
  border-left: 4px solid var(--primary-color);
  border-top: 4px solid var(--primary-color);
  border-bottom: 4px solid var(--primary-color);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: inset 0px -7px 10px -5px rgba(0, 0, 0, 0.5);
}

.wire-head-part.one {
  height: 3.25rem;
  width: 4%;
  top: -0.7rem;
  left: 32.3%;
  animation: left-head-part-one-mobile 0.65s linear 2.5s 1 forwards;
}

.wire-head-part.one.right {
  left: auto;
  right: 30%;
  transform: rotate(180deg);
  animation: right-head-part-one-mobile 0.65s linear 2.5s 1 forwards;
}

.wire-head-part.two {
  height: 5rem;
  width: 8.5%;
  top: -1.5rem;
  left: 36%;
  animation: left-head-part-two-mobile 0.65s linear 2.5s 1 forwards;
}

.wire-head-part.two.right {
  left: auto;
  right: 33.75%;
  transform: rotate(180deg);
  box-shadow: inset 0px 7px 10px -5px rgba(0, 0, 0, 0.5);
  animation: right-head-part-two-mobile 0.65s linear 2.5s 1 forwards;
}

.wire-head-part.three {
  top: -2.25rem;
  left: 45.45%;
  width: 4%;
  height: 6.5rem;
  border: 4px solid var(--primary-color);
  border-radius: 7px;
  box-shadow: inset 0px -7px 10px -5px rgba(0, 0, 0, 0.5);
  animation: left-head-part-three-mobile 0.65s linear 2.5s 1 forwards;
}
.wire-head-part.three.right {
  left: auto;
  right: 43%;
  animation: right-head-part-three-mobile 0.65s linear 2.5s 1 forwards;
}
.wire-head-part.four {
  top: -1.2rem;
}
.wire-head-part.five {
  top: 1.75rem;
}

.wire-head-part.five,
.wire-head-part.four {
  left: 49.55%;
  background: white;
  max-width: 2rem;
  width: 100%;
  border: 2px solid var(--primary-color);
  border-left: none;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  height: 1.6rem;
  z-index: -1;
  box-shadow: inset 0px -5px 10px -5px rgba(0, 0, 0, 0.5);
  animation: left-head-part-four-five-mobile 0.65s linear 2.5s 1 forwards;
  z-index: 1;
}

@media (min-width: 414px) {
  .wire {
    height: 1.75rem;
    width: 35%;
  }

  .wire-head-part.one.right {
    right: 32%;
  }

  .wire-head-part.two {
    left: 36.65%;
  }

  .wire-head-part.two.right {
    right: 36.3%;
  }

  .wire-head-part.three {
    left: 45.45%;
  }

  .wire-head-part.three.right {
    right: 44.5%;
  }
}

@media (min-width: 768px) {
  .content {
    min-height: 44rem;
    width: 100%;
    padding: 2.5rem 1rem;
  }

  .plug-container {
    margin-top: 5rem;
  }

  .wire {
    height: 1.75rem;
    width: 44%;
    animation: wire-animation 0.65s linear 2.5s 1 forwards;
  }

  .wire-head-part.one {
    width: 1.7%;
    left: 41.7%;
    animation: left-head-part-one 0.65s linear 2.5s 1 forwards;
  }

  .wire-head-part.one.right {
    left: auto;
    right: 41.7%;
    animation: right-head-part-one 0.65s linear 2.5s 1 forwards;
  }

  .wire-head-part.two {
    width: 4.25%;
    left: 43.55%;
    animation: left-head-part-two 0.65s linear 2.5s 1 forwards;
  }

  .wire-head-part.two.right {
    right: 43.5%;
    animation: right-head-part-two 0.65s linear 2.5s 1 forwards;
  }

  .wire-head-part.three {
    left: 47.55%;
    width: 1.7%;
    animation: left-head-part-three 0.65s linear 2.5s 1 forwards;
  }
  .wire-head-part.three.right {
    right: 47.9%;
    width: 1.7%;
    animation: right-head-part-three 0.65s linear 2.5s 1 forwards;
  }

  .wire-head-part.five,
  .wire-head-part.four {
    left: 49.55%;
    animation: left-head-part-four-five 0.65s linear 2.5s 1 forwards;
  }
}

.container svg {
  height: 50px;
  width: 50px;
  transition: all 0.3s;
  fill: #666;
  display: none;
}

@keyframes wire-animation {
  0% {
    width: 44%;
  }
  100% {
    width: 35%;
  }
}
@keyframes wire-animation-mobile {
  0% {
    width: 34%;
  }
  100% {
    width: 24%;
  }
}

/* Left side animations */
@keyframes left-head-part-one {
  0% {
    left: 41.7%;
  }
  100% {
    left: 35%;
  }
}
@keyframes left-head-part-two {
  0% {
    left: 43.55%;
  }
  100% {
    left: 36.85%;
  }
}
@keyframes left-head-part-three {
  0% {
    left: 47.55%;
  }
  100% {
    left: 41.3%;
  }
}
@keyframes left-head-part-four-five {
  0% {
    left: 49.55%;
  }
  100% {
    left: 43.5%;
  }
}

/* Right side animations */
@keyframes right-head-part-one {
  0% {
    right: 41.7%;
  }
  100% {
    right: 35%;
  }
}
@keyframes right-head-part-two {
  0% {
    right: 43.5%;
  }
  100% {
    right: 36.8%;
  }
}
@keyframes right-head-part-three {
  0% {
    right: 47.9%;
  }
  100% {
    right: 41.2%;
  }
}

/* Mobile */
/* Left side animations */
@keyframes left-head-part-one-mobile {
  0% {
    left: 32.3%;
  }
  100% {
    left: 24%;
  }
}
@keyframes left-head-part-two-mobile {
  0% {
    left: 36.65%;
  }
  100% {
    left: 28%;
  }
}
@keyframes left-head-part-three-mobile {
  0% {
    left: 45.45%;
  }
  100% {
    left: 37%;
  }
}
@keyframes left-head-part-four-five-mobile {
  0% {
    left: 49.55%;
  }
  100% {
    left: 41.5%;
  }
}

/* Right side animations */
@keyframes right-head-part-one-mobile {
  0% {
    right: 32%;
  }
  100% {
    right: 24%;
  }
}
@keyframes right-head-part-two-mobile {
  0% {
    right: 36.3%;
  }
  100% {
    right: 28%;
  }
}
@keyframes right-head-part-three-mobile {
  0% {
    right: 44.5%;
  }
  100% {
    right: 36.5%;
  }
}
